*.log
/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/storage/pail
/vendor
.DS_Store
.env
.env.backup
.env.production
# there's an argument for adding .env.local to the repo, but the main .env must have APP_ENV=local for .env.local to override .env
# I guess perhaps a/the thing to do is update .env.example to use appropriate values for use in .env and .env.local.
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
Thumbs.db
# ignore extra MS files
*\:Zone.Identifier
# myriad backup file suffixes
*.back
*.bak
*.bck
*.backup